# Project files and paths.
.classpath
.project
*.iml
**/*.iml
.settings/
bin/
gen/
# ignore idea folder
.idea/
.gradle/
# ignore OS X metadata
.DS_Store
/build/
/gradle/
/gradlew
/gradlew.bat
/local.properties
